---
import Layout from '../../layouts/Layout.astro';
import storyConfig from "../../story_config.json"

export function getStaticPaths() {
  return storyConfig.pages.map(c => {
	return {params: {pageNumber: c.pageNumber.toString()}}
  })
}

const {pageNumber} = Astro.params
const pageNumberInt = parseInt(pageNumber)

const page = storyConfig.pages.find(p => pageNumberInt === p.pageNumber)

const prevPageNumber = pageNumberInt > 1 ? pageNumberInt - 1 : null;

const maxPageNumber = storyConfig.pages[storyConfig.pages.length-1].pageNumber
const nextPageNumber = pageNumberInt < maxPageNumber ? pageNumberInt + 1 : null;
---

<Layout title={storyConfig.cover.title}>
	<main>
		<h1>{page.line}</h1>
		<img src={`/img/page_${pageNumber}.png`} alt={page.line} />
		<div>
			{prevPageNumber && <a href={`/page/${prevPageNumber}`}>{"<"}</a>}
			{nextPageNumber  && <a href={`/page/${nextPageNumber}`}>{">"}</a>}
		</div>
	</main>
</Layout>

