---
import Layout from "../layouts/Layout.astro";
import storyConfig from "../story_config.json";
---

<Layout title={storyConfig.cover.line}>
  <main>
    <div class="container d-flex justify-content-center">
      <div>
        <h1 class="text-center">{storyConfig.cover.line}</h1>
        <img
          class="main-image"
          src={storyConfig.cover.imgSrc}
          alt={storyConfig.cover.line}
        />
        <div>
          <a
            class="btn btn-secondary btn-lg rounded-0 w-100"
            href={`${import.meta.env.BASE_URL}/page/1`}>{">"}</a
          >
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .main-image {
    max-width: 100%;
    max-height: calc(100vh - 120px);
  }
</style>
